$font-body: 'Inter';
$font-heading: 'Overpass';

$color-text: rgba(0, 0, 0, 0.7);
$color-label-heading: rgba(0, 0, 0, 0.4);
$color-heading: #000;
$color-border: $color-label-heading;

$column-width: 42rem;
$column-margin-top: 4rem;